<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
  <% if @project.flags.length > 0 %>
    <ul>
      <% @project.flags.each do |flag| %>
      <li>
        <%= link_to flag.name, controller: "flags", action: "show", id: flag.id, project_id: @project.id%>
        Enabled: <%= flag.enabled %>
        <%= button_to 'Delete', {controller: "flags", action: "destroy", id: flag.id,
            project_id: @project.id}, :method => :delete, data: {confirm: 'Are you sure?'}%>
      </li>
      <% end %>
    </ul>
  <% end%>
  <%= link_to 'Create Flag', new_project_flag_path(@project) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
